<%- include('partials/header') -%>
<header>
<h1 class=""><a href="/feed">Favorite Drink & Recipe</a></h1>
</header>

<p>save your favorite drinks and recipes here!</p>



<div class="col-6 mt-5">
  <a class="btn btn-primary" href="/profile">Return to Profile</a>
  <a class="btn btn-primary" href="/feed">Return to Feed</a>
</div>


<%- include('partials/footer') -%>